.wrapper {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 4px;
  box-shadow: 10px 10px 12px -11px rgba(0, 0, 0, 0.56);
  margin: 30% auto;
  max-width: 70%;
  padding: 20px;
  min-height: 100px;
}

#author {
  text-align: right;
  margin: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a > img,
  > .button {
    border-radius: 4px;
  }
}

#tweet-quote {
  display: flex;
}

.button {
  background-color: #1da1f2;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 10px 15px;
  text-decoration: none;

  &:focus {
    border: 3px solid rgb(16, 123, 210);
    outline: none;
  }
}
